*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    margin-right: 70px;
    margin-left: 30px;
    padding: 30px;
    margin: 0;
}

body{
    background-color: turquoise;
    margin: 0;
}

.centro{
    text-align: center;
}
.menu{
    text-decoration: none;
    color: black;
}
.menu ul {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
    display: inline;
    color: black;
}
.menu li{
    display: inline;
    position: relative;
    font-size: small;
    text-decoration: none;
    margin-right: 70px;
    margin-left: 70px;
}
.menu ul li a{
    color: black;
    font-size: small;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.container img {
    max-width:1000px;
    max-height:500px;
    width: auto;
    height: auto;
    margin-top: 50px;
}
.p-1{
    width: 20em;
    text-align: start;
    color: white;
}

button {
    background-color: white;
    color: dodgerblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

button:hover {
    text-decoration: underline;
}

  /*submenu*/
.menu li ul{
    display: none;
    left: 0;
    position: absolute;
    text-decoration: none;
}
.menu li:hover ul{
    display:block;
    background-color: white;
    text-decoration: none;
}

.menu ul ul li a{
    display: block;
    width: 15px;
}
